body {
    background: linear-gradient(#A0E8AF, #3AB795);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-style: double;
    border-bottom-style: double;
}

.cell:hover  {
    cursor: pointer;
    background-color: gray;
}

.board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

#none, #none-bottom {
    border-right-style: none;
}

#bottom, #none-bottom {
    border-bottom-style: none;
}